#game {
  width: 50%;
  margin: auto;
  /* background-color: red; */
}

#game h1 {
  text-align: center;
}

#players {
  display: flex;
  margin: auto;
  padding: 1em 0;
  justify-content: space-between;
  width: 40%;
}

#board {
  display: flex;
  width: 45%;
  flex-wrap: wrap;
  margin: auto;
}

#board.disabled {
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}

#board .square {
  /* width: 32.8%;
  height: 8.45em;
  border: 1px solid black; */
  width: 32.8%;
  height: 2.1em;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: bold;
}

#message, .restart-wrap {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  text-decoration: blink;
  padding: 1em 0;
}

.restart-wrap {
  padding: 0;
}

#restart-btn {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  background: yellow;
}

.hidden {
  display: none;
}
